.git
.github
images
CONTRIBUTORS.svg
*.apk
.vscode
frida_gadget.egg-info
tests
pypi.sh
.env
dist
scripts/files/*
**/__pycache__/
test_apks
build/
dist/
*.pyc
venv/
.DS_Store
*.egg-info
clean.sh
test/demo-apk/*
!test/demo-apk/*.apk
.coverage
scripts/files/
.env
/.idea
test_apks
.vscode
docker.sh
